<a href="https://colab.research.google.com/github/kleczekr/tolkenizer/blob/master/cluster_bombs_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk.data
from nltk.tokenize import sent_tokenize
nltk.download('punkt')
from urllib import request
import pandas as pd

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
url_alice = 'https://www.gutenberg.org/files/11/11-0.txt'
url_moby = 'https://www.gutenberg.org/files/2701/2701-0.txt'

In [3]:
# opening the txt files
response_alice = request.urlopen(url_alice)
response_moby = request.urlopen(url_moby)

In [4]:
# reading the files into raw variables as strings
raw_alice = response_alice.read().decode('utf8')
raw_moby = response_moby.read().decode('utf8')

In [5]:
# Split the raw files into lists of sentences
tokenized_alice = sent_tokenize(raw_alice)
tokenized_moby = sent_tokenize(raw_moby)

In [6]:
# remove the introduction and contents
tokenized_alice = tokenized_alice[14:]
tokenized_moby = tokenized_moby[275:]

In [7]:
# convert the lists to a dataframe
pandaized_alice = pd.DataFrame(tokenized_alice, columns = ['sentence'])
pandaized_alice['is_alice'] = True

In [8]:
pandaized_alice.head()

                                            sentence  is_alice
0  Down the Rabbit-Hole\r\n\r\n\r\nAlice was begi...      True
1  There was nothing so _very_ remarkable in that...      True
2                                           Oh dear!      True
3  I shall be late!” (when she thought it over af...      True
4  In another moment down went Alice after it, ne...      True

In [9]:
pandaized_moby = pd.DataFrame(tokenized_moby, columns = ['sentence'])
pandaized_moby['is_alice'] = False

In [10]:
pandaized_moby.head()

                                            sentence  is_alice
0  Epilogue\r\n\r\n\r\n\r\n\r\nOriginal Transcrib...     False
1  The\r\nproofreaders of this version are indebt...     False
2  The resulting etext\r\nwas compared with a pub...     False
3                                         ETYMOLOGY.     False
4  (Supplied by a Late Consumptive Usher to a Gra...     False

In [11]:
combined_df = pd.concat([pandaized_alice, pandaized_moby])

In [12]:
combined_df.head()

                                            sentence  is_alice
0  Down the Rabbit-Hole\r\n\r\n\r\nAlice was begi...      True
1  There was nothing so _very_ remarkable in that...      True
2                                           Oh dear!      True
3  I shall be late!” (when she thought it over af...      True
4  In another moment down went Alice after it, ne...      True

In [13]:
combined_df.tail()

                                               sentence  is_alice
8900  Professor Michael S. Hart is the originator of...     False
8901  For thirty years, he produced and distributed ...     False
8902  Project Gutenberg-tm eBooks are often created ...     False
8903  Thus, we do not necessarily\r\nkeep eBooks in ...     False
8904  Most people start at our Web site which has th...     False