<a href="https://colab.research.google.com/github/kleczekr/tolkenizer/blob/master/sunday_beautiful_soup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [2]:
link = 'https://www.satp.org/datasheet-terrorist-attack/fatalities/srilanka'
# read the HTML with urllib.request
page = urllib.request.urlopen(link)
# now, parse the HTML with soup
soup = BeautifulSoup(page, 'html.parser')

In [3]:
table = soup.find('table', id='ctl00_ContentPlaceHolder1_gvFatalities')
table_headers = table.find_all('th')
table_rows = table.find_all('tr')

In [4]:
# table

In [5]:
table_headers

[<th scope="col">Year</th>,
 <th scope="col">Incidents of Killing</th>,
 <th scope="col">Civilians</th>,
 <th scope="col">Security Forces</th>,
 <th scope="col">Terrorists/Insurgents/Extremists</th>,
 <th scope="col">Not Specified</th>,
 <th scope="col">Total</th>]

In [6]:
# table_rows

In [7]:
h = []
for header in table_headers:
  header = header.text
  h.append(header)

In [8]:
h

['Year',
 'Incidents of Killing',
 'Civilians',
 'Security Forces',
 'Terrorists/Insurgents/Extremists',
 'Not Specified',
 'Total']

In [9]:
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td]
    l.append(row)

In [10]:
l

[[],
 ['2000*', '603', '244', '826', '2851', '6', '3927'],
 ['2001', '543', '136', '438', '1170', '6', '1750'],
 ['2002', '13', '20', '2', '0', '8', '30'],
 ['2003', '26', '20', '6', '25', '4', '55'],
 ['2004', '50', '26', '8', '44', '3', '81'],
 ['2005', '208', '139', '85', '89', '12', '325'],
 ['2006', '903', '691', '878', '2297', '427', '4293'],
 ['2007', '1230', '406', '527', '3223', '131', '4287'],
 ['2008', '2666', '317', '1444', '9171', '132', '11064'],
 ['2009', '531', '10258', '1297', '3371', '594', '15520'],
 ['2010', '0', '0', '0', '0', '0', '0'],
 ['2011', '0', '0', '0', '0', '0', '0'],
 ['2012', '0', '0', '0', '0', '0', '0'],
 ['2013', '0', '0', '0', '0', '0', '0'],
 ['2014', '1', '0', '1', '3', '0', '4'],
 ['2015', '0', '0', '0', '0', '0', '0'],
 ['2016', '0', '0', '0', '0', '0', '0'],
 ['2017', '0', '0', '0', '0', '0', '0'],
 ['2018', '0', '0', '0', '0', '0', '0'],
 ['2019', '10', '262', '4', '12', '0', '278'],
 ['2020', '1', '0', '0', '1', '0', '1'],
 ['Total**', '6785', '12519', '5516', '22257', '1323', '41615']]

In [13]:
df = pd.DataFrame(l[1:], columns=h)

In [14]:
df

       Year Incidents of Killing  ... Not Specified  Total
0     2000*                  603  ...             6   3927
1      2001                  543  ...             6   1750
2      2002                   13  ...             8     30
3      2003                   26  ...             4     55
4      2004                   50  ...             3     81
5      2005                  208  ...            12    325
6      2006                  903  ...           427   4293
7      2007                 1230  ...           131   4287
8      2008                 2666  ...           132  11064
9      2009                  531  ...           594  15520
10     2010                    0  ...             0      0
11     2011                    0  ...             0      0
12     2012                    0  ...             0      0
13     2013                    0  ...             0      0
14     2014                    1  ...             0      4
15     2015                    0  ...             0      0
16     2016                    0  ...             0      0
17     2017                    0  ...             0      0
18     2018                    0  ...             0      0
19     2019                   10  ...             0    278
20     2020                    1  ...             0      1
21  Total**                 6785  ...          1323  41615

[22 rows x 7 columns]